.wrapper-header-welcome {
  margin: 0 auto;
  width: 1440px;
  height: 666px;
  background-color: #EDF2EC;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 134px;
}

.header-logo {
  display: flex;
  margin-left: 111px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  white-space: nowrap;
}

.header-logo img {
  width: 20px;
  height: 20px;
}

.menu {
  margin-right: 109px;
  width: 452px;
  height: 50px;
}

.menu__ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.menu__li {
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
}

.menu__link__home {
  text-decoration: none;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  color: #E06733;
}

.welcome {
  display: flex;
  justify-content: space-between;
  height: 532px;
}

.leafs {
  margin-left: 109px;
  margin-top: 62px;
}

.leafs__img {
  width: 449px;
  height: 407px;
}

.about {
  margin-right: 109px;
  margin-top: 98px;
  width: 549px;
  height: 340px;
}

.about__h1 {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

.about__h1 span {
  color: #499A18;
}

.about__text {
  margin-top: 42px;
  margin-bottom: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.about__btn {
  width: 152px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  background: #EDF2EC;

}