body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a:hover {
  color: #499A18;
  text-decoration: underline;
  transition: 0.5s;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
  height: 666px;
  background-color: #EDF2EC;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 134px;
}

.header-logo {
  display: flex;
  margin-left: 111px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  white-space: nowrap;
}

.header-logo img {
  width: 20px;
  height: 20px;
}

.menu {
  margin-right: 109px;
  width: 452px;
  height: 50px;
}

.menu__ul {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding: 0;
}

.menu__li {
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
}

.menu__link__home {
  text-decoration: none;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  color: #E06733;
}

.welcome {
  display: flex;
  justify-content: space-between;
  height: 532px;
}


.leafs {
  margin-left: 99px;
  margin-top: 52px;
  width: 31.17%;
  height: 76.57%px;
}

.welcome-text {
  margin-right: 109px;
  margin-top: 98px;
  width: 549px;
  height: 340px;
}

.welcome-text__h1 {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

.welcome-text__h1 span {
  color: #499A18;
}

.welcome-text p {
  margin-top: 42px;
  margin-bottom: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.welcome-text__btn {
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  background: #EDF2EC;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.welcome-text__btn:hover,
.service-navbar-btns__btn:hover,
.prices-right__btn:hover {
  background-color: #E06733;
  color: white;
  transition: 0.5s;
}

.about {
  display: flex;
  justify-content: space-between;
  height: 666px;
}

.about-text__h2 {
  margin: 161px 0 0 109px;
  width: 463px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.about-text__h2 span {
  color: #E06733;
}

.about-text p {
  margin: 40px 0 0 109px;
  width: 605px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.about-houseplant {
  margin: 93px 109px 94px 0;
}

.about-houseplant__img {
  width: 464px;
  height: 479px;
}

.service {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 109px 121px 109px;
  height: 1300px;
  background-color: #EDF2EC;
}

.service-navbar {
  display: flex;
  justify-content: space-between;

  width: 1007px;
  height: 94px;
}

.service-navbar h2 {
  margin: 0;
  width: 306px;
  height: 94px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.service-navbar-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 559px;
  height: 50px;
}

.service-navbar-btns__btn {
  width: 161px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background: #EDF2EC;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  cursor: pointer;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1222px;
  height: 955px;
  background-color: #EDF2EC;
}

.service-wrapper-items {
  display: flex;
  justify-content: space-between;
  width: 1222px;
  height: 450px;
}

.service-item {
  width: 330px;
  height: 450px;
  background-color: #EDF2EC;
}

.service-item-img {
  width: 330px;
  height: 350px;
  background-color: #EDF2EC;
}

.service-item__text {
  width: 330px;
  height: 100px;
  background-color: #EDF2EC;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;

}

h3 {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
}

.service-item__text p {
  margin: 0;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.prices {
  display: flex;
  height: 560px;
  background-color: #fff;
}

.prices-left h2 {
  margin: 38px 0 0 109px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.prices-acordion {
  margin-top: 62px;
  margin-left: 109px;
  width: 332px;
  height: 282px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.prices-acordion__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 38px;
  width: 250px;
  height: 50px;
  background-color: #EDF2EC;
  border-radius: 20px;
}

.prices-acordion__items p {
  margin-left: 41px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.prices-acordion__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #D9D9D9;
  border: none;
  cursor: pointer;
}

.prices-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 441px;
  width: 449px;
  height: 200px;
}

.prices-right p {
  margin-top: 40px;
  margin-bottom: 43px;
  width: 455px;
  text-align: right;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.prices-right span {
  color: #499A18
}

.prices-right__btn {
  flex-shrink: 0;
  width: 161px;
  height: 50px;
  margin: auto 0;
  border: 1px solid #E06733;
  border-radius: 5px;
  background: white;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  cursor: pointer;
}

.prices-right img {
  display: block;
  margin-top: 35px;
  width: 160px;
  height: 183px;
}

.contacts {
  display: flex;
  height: 550px;
  background-color: #EDF2EC;
}

.contacts-woman {
  margin-top: 53px;
  margin-left: 109px;
  width: 400px;
  height: 497px;
}

.contacts h2 {
  margin: 60px 0 0 113px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.contacts-city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 145px;
  margin-left: 70px;
  width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

.contacts-city p {
  margin-left: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}

.acordion__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #AEA1A1;
  border: none;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

.footer-left {
  margin-left: 109px;
  word-spacing: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-left__a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  text-decoration: none;
}

.footer-center {
  padding-left: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  text-decoration: none;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 188px;
  height: 50px;
  margin-right: 109px;
}